div.principal {
    padding: 30px;
}

div.principal h1 {
    padding-bottom: 30px;
}

div.principal form label {
    font-size: 1.3em;
}

div.principal form input {
    height: 20px;
}

div.principal form button {
    background-color: rgba(255, 255, 0, 0.445);
    padding: 5px;
    margin-left: 20px;
    font-weight: bold;
    border: 1px solid black;
}


div.principal form button:hover {
    background-color: rgba(255, 255, 0, 0.212);
    cursor: pointer;
}